* {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar{
    background: #081a57;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19.2px; 
    position: sticky;   /*ostaje */
    top: 0;
    z-index: 999;  /*pretjerano, ali osigurava da ce biti iznad svega*/
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1; 
    width: 100%;
    max-width: 1300px;  /*ne zelimo da ide preko 1300*/
    margin: 0 auto;  /*prvo je za gore-dolje drugo za lijevo-desno*/
    padding: 0 50px;
}

/*ovo je id pa ide #*/
#navbar_logo{
    background-color: aquamarine;
    background-image: linear-gradient(to top, brown 0%, #ffb199 100%); /*gradijent dolje -> gore*/
    background-size: 100%;
    -webkit-background-clip: text;  /*webkit obicno za chrome, background se tada odnosi na tekst, ne na cijelu kucicu*/
    -moz-background-clip: text;     /*isto, za mozila firefox*/
    -webkit-text-fill-color: transparent; /*time tekst postaje "nevidljiv", moze jer je cijeli background sada tekst*/
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
}

.fa-gem{
    margin-right: 8px;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item{
    height: 80px;
}
.navbar_links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 16px;
    height: 100%;
}
.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    width: 100%;
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border: 4px;
    background: #f77;
    color: #fff;
}
.button:hover {
    background: #93758a;
    transition: all 0.3s ease;
}
.navbar_links:hover {
    color:#f77062 ;
    transition: all 0.3s ease;
}
/*sada za mobile app*/
@media screen and (max-width:960px){
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #313131;
    }
    .navbar_menu.active {
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;  /*viewpoint height, px = vh * viewport height/100, viewport je koliko je px na zaslonu trenutno vidljivo*/
        font-size: 25.6px;
    }
    #navbar_logo {
        padding-left: 25px;
    }
    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out; /*animacija, traje 0.3s, glatki prijelaz*/
        background-color: white;
    }
    .navbar_item{
        width: 100%;
    }
    .navbar_links{
        text-align: center;
        padding: 32px;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%); /*odradi translaciju 5% desno, 20% dolje*/
    }
    .navbar_btn{
        padding-bottom: 32px;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }
    /*ovaj dio u js*/
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }    
}
.main{
    background-color: lightgrey;
    width: 100%;
    
}
.main_container{
    display: grid;
    grid-template-columns: 1fr 1fr; /*da se podijeli 50-50*/
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: lightgray;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
.main_content {
    width: 100%;
    height: 81.5%;
}
.main_content h1{
    font-size: 64px;
    background-color: aliceblue;
    background-image: linear-gradient(to top, brown 0%, #ffb199 100%); /*gradijent dolje -> gore*/
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    background-size: 100%;
}
.main_content h2{
    font-size: 32px;
    color: #05514e;
}
.main_content p{
    margin-top: 16px;
    font-size: 24px;
    font-weight: 500;
    color: rgb(24, 24, 24);
}
.main_btn{
    font-size: 16px;
    background-image: linear-gradient(to top, brown 0%, #ffb199 100%); /*gradijent dolje -> gore*/
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: wheat;
    margin-top: 32px;
    cursor: pointer;
    position: relative;
    transition: none;
}
.main_btn a {
    position: relative;
    z-index: 2;
    color: lightyellow;
    text-decoration: none;
    font-weight: 700;
}
.main_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#f77062 ;
    opacity: 30%;
    transition: all 0.35s;
    border-radius: 4px;
}
.main_btn:hover {
    color: wheat;
}
.main_btn:hover:after {
    width: 100%;
}
.main_img-container{
    text-align: center;
}
#main_img:hover{
    transform: scale(1.075) ; /*increase the size*/
    transition: 0.2s ease-in;
    cursor: pointer;
}
#main_img {
    height: 60%;
    width: 60%;
}
@media screen and (max-width: 960px){
    .main_container{
        display:grid;
        grid-template-columns:auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 1400px;
    }
    .main_content{
        text-align: center;
        margin-bottom: 64px;
    }
    .main_content h1{
        font-size: 40px;
        margin-top: 32px;
    }
    .main_content h2{
        font-size: 48px;
    }
    .main_content p{
        margin-top: 16px;
        font-size: 24px;
    }
    .main_btn {
        padding: 12px 36px;
        margin: 40px 0;
    }
}
@media screen and (max-width: 480px){
    .main_content h1{
        font-size: 32px;
        margin-top: 48px;
    }
    .main_content h2{
        font-size: 32px;
    }
    .main_content p{
        margin-top: 32px;
        font-size: 24px;
    }
    .main_btn{
        padding: 12px 36px;
        margin: 40px 0;
    }
    #main_img{
        width: 300px;
    }
}
.other {
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}
.other h1{
    background-size: 100%;
    margin-bottom: 32px;
    font-size: 40px;
    color: rgb(24, 24, 24);
    margin-top: 32px;
}
.other_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.other_card{
    margin: 16px;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    position: relative;
    background-size: cover;
    color: wheat;
}
.other h2{
    position: absolute;
    top: 350px;
    left: 30px;

}
.other_card p{
    position: absolute;
    top: 400px;
    left: 30px;

}
.other_card button{
    color: lightyellow;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 440px;
    left: 30px;
    background-image: linear-gradient(to top, brown 0%, #ffb199 100%); /*gradijent dolje -> gore*/
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.other_card:hover{
    transform: scale(1.075) ; /*increase the size*/
    transition: 0.2s ease-in;
    cursor: pointer;
}
@media screen and (max-width: 960px){
    .other {
        height: 1600px;
    }
    .other h1{
        font-size: 32px;
        margin-top: 192px;
    }
}
@media screen and (max-width: 480px){
    .other {
        height: 1400px;
    }
    .other h1{
        font-size: 19.2px;

    }
    .other_card{
        width: 300px;
    }
}
.footer_container{
    background-color: #05514e;
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 80px;
}
.footer_logo{
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    opacity: 70%;
}
.footer_around{
    display: flex;
}

@media screen and (max-width:820px){
    #footer_logo{
        margin-bottom: 32px;
    }
    .footer_around {
        flex-direction: row;
    }
}
.container {
    width: 100%;
    height: 100%;
    background-color: silver;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.menu-icon {
    width: 25px;
    position: absolute;
    left: 40px;
    top: 40px;
    cursor: pointer;
}
.setting-icon{
    width: 25px;
    position: absolute;
    left: 90px;
    top: 40px;
    cursor: pointer;
}
.profile-icon{
    width: 150px;
    border-radius: 50%;
    background: white;
    padding: 4px;
    margin-top: 30px;
}
.profile-box button{
    background-image: linear-gradient(to top, brown 0%, #ffb199 100%); /*gradijent dolje -> gore*/
    border-radius: 30px;
    margin-bottom: 30px;
    color: lightyellow;
    font-size: 16px;
    border: none;
    padding: 14px 32px;
    cursor: pointer;
}
.signin {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #93758a;
}
.loginbox{
    background: silver;
    padding: 30px 120px;
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  /*stavlja na sredinu*/
    text-align: center;
    border-radius: 10px;
}
.loginbox h2{
    margin-bottom: 20px;

}
.loginbox button img{
    width: 18px;
    margin-right: 10px;
}
.loginbox button {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 30px;
    background: white;
    border: 1px solid #999;
    font-weight: 100;
    cursor: pointer;
    color: rgb(100, 100, 100);
}
.loginbox hr{
    border: 0;
    height: 1px;
    background: rgb(100, 100, 100) ;
    margin: 5px;

}
.loginbox span{
    display: block;
    width: 40px;
    margin: auto;
    background: silver;
    font-size: 14px;
    margin-top: -13px;
}
.loginbox input{
    width: 100%;
    background: transparent;
    border: 1px solid rgb(100, 100, 100);
    outline: 0;
    padding: 15px 10px;
    border-radius: 4px;
    margin: 10px 0;
}
::placeholder{
    font-weight: 500;
    color: rgb(100, 100, 100);
}
.loginbox form button {
    background: rgb(24, 24, 24);
    color: wheat;
    border: 0;
    margin-bottom: 15px;
}
.loginbox p{
    text-align: left;
    font-size: 14px;
    color: royalblue;
    margin-left: 50px;
}
.loginbox p a {
    text-decoration: none;
    color: royalblue;
}
.signin{
    background: lightgrey;
    width: 100%;
    display: grid;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}